@media screen and (max-width:500px) {
    body{
        background-color: lawngreen;
    }
}

#HideMeAfter5Second {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}
@keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
      display: none;
    }
}
#ShowItAfter5Second{
    animation: showAnimation 0s 5s forwards;
    visibility: hidden; 
    width: 0;
    height: 0;
    overflow: hidden
}
@keyframes showAnimation{
    to{
        overflow: hidden;
        visibility: visible;
        width: 100vw;
        height: 100vh;
    }
}
img{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: black;
}
div {
    text-align: center;
}