body {
  background-color: black;
  color: rgb(0, 255, 0);
  width: 100%;
}

/* Navbar */

.navbar {
  overflow: hidden;
  background-color: #333;
  border-bottom: 3px solid yellowgreen;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 255, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 255, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Navbar end */


/* Content */
div.content{
  display: grid;
  padding: 2% 3rem 2% 3rem;
  grid-template-columns: 20% 80%;
}

.left{
  grid-column: 1;
  text-align: justify;
  margin: 10px 20px;
}
.text{
  text-decoration: underline;
  text-shadow: 2px 2px 5px rgb(202, 202, 202);
}
p,li,td{
  color: gray;
}

.main{
  grid-column: 2;
}
div.post{
  margin: 10px 40px;
}
table{
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover{
  background-color: rgb(136, 247, 158);
}
span{
  font-weight: bold;
  color: rgb(194, 194, 194);
}
ul{
  list-style: none;
}
ul li::before{
  content: "*";
  color: rgb(0, 255, 0);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
ul.a{
  color:rgb(0, 255, 0);
}